html,
body {
  width: 100%;
  min-height: 100%;
}

body {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba($white, .05);
  background-color: $white;
  scroll-behavior: smooth;
}
