html,
body {
  width: 100%;
  min-height: 100%;
}

body {
  font-family: $open-sans;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  color: $boulder;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba($white, .05);
  background-color: $white;
  scroll-behavior: smooth;
}
