a {
  transition: all .3s cubic-bezier(.4, 0, 1, 1);

  &:before,
  &:after,
  > svg {
    transition: all .3s cubic-bezier(.4, 0, 1, 1);
  }
}

input,
button,
textarea {
  transition: all .3s cubic-bezier(.4, 0, 1, 1);
}
