.illustrated-item {
  position: relative;
  overflow: hidden;
  @extend %picture-inside;

  @include bp(desktop) {
    height: 473px;

    &:first-of-type {
      .illustrated-item__image {
        position: absolute;
        top: auto;
        bottom: 100px;
      }
    }
  }


  &__image {
    width: 100%;
    position: relative;
    z-index: $under-content;

    @include bp(desktop) {
      top: 20px;
    }
  }

  &__content {
    position: absolute;
    left: 0;
    bottom: 20px;

    @include bp(mobile-land) {
      left: 37%;
    }

    @include bp(tablet-land) {
      left: 33.16666%; // 199px / 600px
    }

    @include bp(desktop) {
      bottom: 35px;
    }
  }

  &__title {
    margin: 0 0 25px;
    color: $gumbo;
    text-align: center;

    @include bp(mobile-land) {
      text-align: left;
    }
  }

  &__text {
    padding: 0 12%;
    margin: 0;

    @include bp(mobile-land) {
      max-width: 62%;
      padding: 0;
    }

    @include bp(desktop) {
      max-width: 65%;
    }
  }
}
