$mq-breakpoints: (
  mobile:         20em,    // 320px
  fablet:         22.5em,  // 360px
  mobile-land:    30em,    // 480px
  tablet:         48em,    // 768px
  tablet-land:    64em,    // 1024px
  desktop:        75em,    // 1200px
);

$mq-media: 'screen';
