$white:            #fff;
$black:            #000;
$semi-black:       #2f2824;
$alabaster:        #f8f8f8;
$pale-slate:       #c5c2c3;
$mine:             #8c8e8e;
$tine:             #282828;
$light-gray:       #d1cfcf;
$mystic:           #ebf0f2;
$sand:             #f0d2b0;
$gull:             #a0b3b9;
$gumbo:            #839da5;
$bali-hai:         #7da5ae;
$tile:             #565656;
$boulder:          #797979;
$follow:           #6f6f6f;
$linkedin:         #0177b5;
$pinterest:        #ed1c24;
$facebook:         #3b5998;
$twitter:          #41abe1;
