.must-have {
  display: flex;
  flex-direction: column;

  @include bp(tablet-land) {
    display: block;
    font-size: 0;
  }

  &__title {
    color: $light-gray;

    @include bp(tablet-land) {
      top: 16px;
      right: 46px;
      color: $mystic;
    }
  }

  &__item {
    &:first-of-type {
      order: 99;
    }

    @include bp(tablet-land) {
      display: inline-block;
      vertical-align: top;
      width: 50%;
    }
  }
}
